#carrito > span {
  color: whitesmoke;
  padding-left: 1rem;
  font-weight: 900;
}

#carrito > img {
  width: 40 px;
  height: 40px;
}

#card {
  padding: 30px;
}

#greeting {
  text-align: center;
}
